/*
 * Copyright 2008-2013, 2020 Haiku, Inc. All rights reserved.
 * Distributed under the terms of the MIT License.
 *
 * Authors:
 *		François Revol, revol@free.fr
 *		Stephan Aßmus, superstippi@gmx.de
 *		Braden Ewing, brewin@gmail.com
 *		Humdinger, humdingerb@gmail.com
 *		John Scipione, jscipione@gmail.com
 *		Niels Sascha Reedijk, niels.reedijk@gmail.com
 */

/* color names provided by: https://chir.ag/projects/name-that-color */

/*
	This stylesheet is designed to override the base style sheet doxygen.css
	for Doxygen 1.8.20.

	Some principles:
		* Normal fonts are "Noto Sans",Arial,sans-serif
		* Fixed space fonts are "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
		* No rounded corners (border-radius: 0;)
		* No box shadows (box-shadow: 0;)
		* A selection of specific colors for borders, links, and other visual elements
*/

/* Override font selections */

body, table, div, p, dl {
	font: 400 14px/22px "Noto Sans",Arial,sans-serif;
}

p.reference, p.definition {
	font: 400 14px/22px "Noto Sans",Arial,sans-serif;
}

pre.fragment {
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
}

div.line {
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	line-height: 1.4;
}

.overload {
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
}

.params .paramdir, .tparams .paramdir {
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
}

table.directory {
    font: 400 14px "Noto Sans", Arial,sans-serif;
}

.navpath li.navelem a
{
	font-family: "Noto Sans", Arial, sans-serif;
}

div.toc li {
	font: 10px/1.2 "Noto Sans", Arial,sans-serif;
}

div.toc h3 {
	font: bold 12px/1.2 "Noto Sans", Arial,sans-serif;
}

#powerTip div {
	font: 12px/16px "Noto Sans", Arial,sans-serif;
}

/* Remove rounded borders */
div.ah, span.ah {
	border-radius: 0;
}

.memtitle {
	border-radius: 0;
}

.memproto, dl.reflist dt {
	border-radius: 0;
}

.memdoc, dl.reflist dd {
	border-radius: 0;
}

table.fieldtable {
	border-radius: 0;
}

.fieldtable th {
	border-radius: 0;
}

div.toc {
	border-radius: 0;
}

#powerTip {
	border-radius: 0;
}

/* Colors and headers */

body {
	color: #333333; /* mine shaft */
	background-color: white;
}

h1, h2, h3, h4, h5, h6 {
	color: #0c3762; /* madison */
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 0;
}

h1 {
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: dotted thin #c0c0c0; /* silver */
}

h2 {
	font-size: 1.3em;
	font-weight: normal;
	border-bottom: dotted thin #c0c0c0; /* silver */
}

h3 {
	font-size: 1.2em;
	font-weight: normal;
	border-bottom: dotted thin #c0c0c0; /* silver */
}

h4 {
	font-size: 1.1em;
	font-weight: normal;
}

h5, h6 {
	font-size: 1.0em;
	font-weight: normal;
}

.title {
	color: #0c3762; /* madison */
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: dotted thin #c0c0c0; /* silver */
	margin-top: 1em;
	margin-bottom: 1em;
}

h2.groupheader, h2.memtitle {
	font-size: 1.3em;
	border: none;
	border-bottom: dotted thin #c0c0c0; /* silver */
	color: #0c3762;
	margin-top: 1em;
	padding: 0;
	background: none;
}

.dirtab {
	border: 1px solid #84b0c7; /* glacier */
}

th.dirtab {
	background-color: #f3f3f3; /* concrete */
}

/* Links */

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #dc3c01; /* grenadier */
}

.contents a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #892601; /* peru tan */
}

a:hover, a:active {
	text-decoration: underline;
	color: #ff4500; /* vermilion */
}

/* Some headers act as anchors, don't give them a hover effect */

h1 a:hover, a:active, h2 a:hover, a:active, h3 a:hover, a:active,
h4 a:hover, a:active, h5 a:hover, a:active, h6 a:hover, a:active {
	text-decoration: none;
	color: #0c3762; /* madison */
}

/* Custom Header */

#banner {
	position: relative;
	top: 0;
	left: 0;
	height: 84px;
	background: #eeeeee; /* gallery */
}

#banner div.logo {
	background: url('https://www.haiku-os.org/images/haiku_logo_black.png') no-repeat scroll 0 0 transparent;
	min-width: 59em;
	max-width: 70em;
	height: 100%;
	margin: 0 auto;
}

#banner span.subtitle {
	position: relative;
	top: 48px;
	left: 272px;
	color: #333333; /* mine shaft */
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: Myriad Pro,Myriad Web Pro Regular,Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-weight: normal;
}

#banner span.search {
	position: relative;
	top: 48px;
	left: 600px;
}

input[type=text], input[type=password] {
	font-size: inherit;
	border-top: 1px solid #818181;
	border-left: 1px solid #818181;
	border-bottom: 1px solid #858585;
	border-right: 1px solid #858585;
	margin-top: 3px;
	padding: 2px;
	width: 200px;
}

div.header {
	margin-top: 20px;
	margin: 10px auto;
	min-width: 59em;
	max-width: 70em;
	border: none;
	background: none;
}

div.summary {
	margin: 0 auto;
	min-width: 59em;
	max-width: 70em;

	display: none;
}

div.headertitle {
	min-width: 59em;
	max-width: 70em;
	padding: 0;
}

div.headertitle div.title {
	color: #0c3762; /* madison */
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: dotted thin #c0c0c0; /* silver */
	margin-top: 1em;
	margin-bottom: 1em;
}

.ingroups {
	margin-top: 10px;
}

/* Make the "Since" member docs one line */

dl.since {
	margin-top: 1em;
}

dl.since dt {
	display: inline;
	padding-right: 0.5em;
}

dl.since dd {
	display: inline;
}


/* Navigation Tabs (overrides tabs.css) */

.sm-dox {
	background: #e0e0e0; /* alto */
	padding: 0;
}

@media (min-width: 768px) {
	.sm-dox > li > a, .sm-dox > li > a:hover, .sm-dox > li > a:visited,
	.sm-dox > li > a:link, .sm-dox > li > a:active {
		padding: 0 12px 0 0;
	}

	.sm-dox > li > a.has-submenu {
		padding-right: 24px;
	}
}

.sm-dox a, .sm-dox ul a, .sm-dox a:visited, .sm-dox ul a:visited,
.sm-dox a:link, .sm-dox ul a:link {
	background-image: none;
	color: #dc3c01; /* grenadier */
	text-shadow: none;
}

.sm-dox a:hover, .sm-dox ul a:hover {
	background-color: #e0e0e0; /* alto */
	background-image: none;
	color: #ff4500; /* vermilion */
	text-decoration: underline;
	text-shadow: none;
}

.sm-dox a:active, .sm-dox ul a:active {
	color: #0c3762; /* madison */
	text-decoration: none;
	text-shadow: none;
}

.sm-dox a:focus, .sm-dox ul a:focus,
.sm-dox a.highlighted, .sm-dox ul a.highlighted {
	background-image: none;
	color: #ff4500; /* vermilion */
	text-shadow: none;
}

@media (min-width: 768px) {
	.sm-dox a span.sub-arrow {
		border-top-color: #dc3c01; /* grenadier */
	}

	.sm-dox ul a span.sub-arrow {
		border-left-color: #dc3c01; /* grenadier */
	}
}

.sm-dox span.scroll-up-arrow {
	border-bottom-color: #dc3c01; /* grenadier */
}

.sm-dox span.scroll-down-arrow {
	border-top-color: #dc3c01; /* grenadier */
}

@media (min-width: 768px) {
	.sm-dox a:hover span.sub-arrow {
		border-top-color: #ff4500; /* vermilion */
	}

	.sm-dox ul a:hover span.sub-arrow {
		border-left-color: #ff4500; /* vermilion */
	}
}

.sm-dox span.scroll-up-arrow {
	border-bottom-color: #ff4500; /* vermilion */
}

.sm-dox span.scroll-down-arrow {
	border-top-color: #ff4500; /* vermilion */
}

div#main-nav {
	position: relative;
	left: 0;
	top: 0;
	background: #e0e0e0; /* alto */
	margin: 0;
	padding: 0;
}

div#main-nav ul#main-menu {
	margin: 0 auto;
	list-style: none;
	max-width: 70em;
}

div.navpath {
	margin: 20px auto;
	min-width: 59em;
	max-width: 70em;
}

div.navpath ul {
	display: none;
}

div.tabs ul.tablist li, div.tabs2 ul.tablist li, div.tabs3 ul.tablist li {
	display: inline;
	margin: 0px;
	padding: 0px;
	font-size: 0.8em;
}

div.tabs ul.tablist li span, div.tabs2 ul.tablist li span,
	div.tabs3 ul.tablist li span {
	display: inline;
	padding-right: 9px;
	white-space: nowrap;
}

div.tabs ul.tablist li li.current a, div.tabs2 ul.tablist li li.current a,
	div.tabs3 ul.tablist li li.current a {
	color: black;
	text-decoration: none;
}

/* Standard table styling */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	vertical-align: top;
	text-align: left;
	padding: 4px;
}

/* Contents & footer: center on page with a maximum width */

div.contents, .footer {
	line-height: 1.5;
	margin: 10px auto;
	min-width: 59em;
	max-width: 70em;
}

/* Contents: Style the elements on the page */

div.contents em, div.contents code, div.contents .mlabel {
	font-weight: normal;
	font-style: normal;
}

div.contents em {
	color: #dc3c01; /* grenadier */
}

div.contents .mlabels-right {
	vertical-align: middle;
}


div.contents code, span.mlabel {
	color: blue;
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	font-weight: normal;
	font-style: normal;
	border:none;
}

div.title span.mlabel {
	background-color: white;
	font-size: 14.4px;
}

div.memproto span.mlabel {
	background-color: #f3f3f3; /* concrete */
	font-size: 14.4px;
}

span.mlabel:before {
	content: "[";
}

span.mlabel:after {
	content: "]";
}

div.contents td {
	line-height: 1.3;
}

div.contents td span.arrow {
	cursor: pointer;
}

div.contents td.desc {
	font-weight: normal;
}

div.contents div.dynheader {
	color: #0c3762; /* madison */
	font-size: 1.3em;
	font-weight: normal;
	border-bottom: dotted thin #c0c0c0; /* silver */
	margin-top: 1em;
	margin-bottom: 1em;
}

div.contents div.dyncontent {
	width: 100%;
	border: 1px solid #c7c7c7; /* silver */
	overflow: auto;
}

div.contents div.dyncontent div.center {
	text-align: center;
	margin: 16px;
}

div.contents td.memSeparator {
	display: none;
}

div.contents span.keycap, div.contents span.keysym {
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #c7c7c7; /* silver */
	border-style: solid;
	border-width: 1px;
	padding: 0px 2px 0px 2px;
	background-color: #e8e8e8; /* mercury */
	font-family: serif;
	font-variant: small-caps;
}

div.contents div.textblock {
	margin-bottom: 20px;
}

div.contents hr {
	display: none;
}

div.contents li {
	line-height: 1.3;
	margin-bottom: 10px;
	margin-left: 20px;
}

div.contents dt {
	margin-top: 16px;
	margin-bottom: 8px;
}

div.image {
	margin-top: 16px;
	margin-bottom: 8px;
}

.icon {
	font-weight: bold;
	font-size: 12px;
	height: 14px;
	width: 16px;
	display: inline-block;
	background-color: #ff4500;
	color: white;
	text-align: center;
	border-radius: 4px;
	margin-left: 2px;
	margin-right: 2px;
}

/* Entry markers */
dl dt {
	font-weight: bold;
}
dl dt::after {
	content: ":";
}

/* The boxes from the userguide */
dl.note, dl.remark, dl.warning, dl.attention {
	border-style: solid;
	border-width: 2px;
	margin-top: 24px;
	margin-bottom: 24px;
	padding: 4px;
	min-height: 48px;
}

dl.note dd, dl.remark dd, dl.warning dd, dl.attention dd {
	font-size: 12px;
}

dl.note {
	background: #deebff url('https://www.haiku-os.org/images/alert_info_32.png') 15px 15px no-repeat;
	border-color: #183cce;
}

dl.remark {
	background: #f3f3f3 url('https://www.haiku-os.org/images/alert_idea_32.png') 15px 15px no-repeat;
	border-color: #c0c0c0; /* silver */
}

dl.warning {
	/* lemon chiffon */
	background: #fffbc6 url('https://www.haiku-os.org/images/alert_warning_32.png') 15px 15px no-repeat;
	border-color: #eed300; /* gold */
}

dl.attention {
	/* fair pink */
	background: #ffeae6 url('https://www.haiku-os.org/images/alert_stop_32.png') 15px 15px no-repeat;
	border-color: red;
}

dl.note dt, dl.remark dt, dl.warning dt, dl.attention dt {
	display: none; /* don't display the Note: or Warning: header */
}

dl.note dd, dl.remark dd, dl.warning dd, dl.attention dd {
	margin: 10px 10px 10px 60px;
	color: black; /* pseudo-bold */
}

/* For keyboard shortcuts and the like (also from userguide) */

div.contents span.keycap {
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #c7c7c7; /* silver */
	border-style: solid;
	border-width: 1px;
	padding: 0px 2px 0px 2px;
	background-color: #e8e8e8; /* mercury */
	font-family: serif;
	font-variant: small-caps;
}

/* Continue with the rest of the standard Doxygen stuff... */

A.code:visited {
	text-decoration: none;
	font-weight: normal;
	color: blue;
}
A.codeRef:link {
	font-weight: normal;
	color: blue;
}
A.codeRef:visited {
	font-weight: normal;
	color: blue;
}
dl.el {
	margin-left: -1cm
}

/* Code blocks */
div.fragment {
	width: 99%;
	background-color: #f3f3f3; /* concrete */
	border: 1px solid #c0c0c0; /* silver */
	padding: 4px;
	color: black;
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	line-height: 1.3;
}
div.fragment pre.fragment a.code {
	font-weight: bold;
}
div.ah {
	background-color: black;
	font-weight: bold;
	color: white;
	margin-bottom: 3px;
	margin-top: 3px;
}
TD.indexkey {
	background-color: #f3f3f3; /* concrete */
	border: 1px solid #c0c0c0; /* silver */
	font-weight: bold;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
}
TD.indexvalue {
	background-color: #f3f3f3; /* concrete */
	border: 1px solid #c0c0c0; /* silver */
	font-style: italic;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
}
TR.memlist {
   background-color: #f0f0f0; /* gallery */
}


/* member declaration table */

table.memberdecls {
	width: 100%;
}

table.memberdecls td.memItemLeft {
	font-size: 13px;
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	white-space: nowrap;
	text-align: right;
	padding: 6px 0px 4px 8px;
	margin: 4px;
	vertical-align: top;
	border-top: 1px solid #c0c0c0; /* silver */
	border-left: 1px solid #c0c0c0; /* silver */
	background-color: #f3f3f3; /* concrete */
}

table.memberdecls td.memItemRight {
	font-size: 13px;
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	padding: 6px 8px 4px 0px;
	margin: 4px;
	vertical-align: top;
	border-top: 1px solid #c0c0c0; /* silver */
	border-right: 1px solid #c0c0c0; /* silver */
	background-color: #f3f3f3; /* concrete */
}

table.memberdecls td.mdescLeft {
	font-size: 13px;
	line-height: 1.3;
	padding: 1px 0px 4px 8px;
	margin: 0px;
	border-bottom: 1px solid #c0c0c0; /* silver */
	border-left: 1px solid #c0c0c0; /* silver */
	background-color: #f3f3f3; /* concrete */
}

table.memberdecls td.mdescRight {
	font-size: 13px;
	line-height: 1.3;
	padding: 1px 8px 4px 0px;
	margin: 0px;
	border-bottom: 1px solid #c0c0c0; /* silver */
	border-right: 1px solid #c0c0c0; /* silver */
	background-color: #f3f3f3; /* concrete */
}

table.memberdecls td.mdescRight p {
	margin: 0;
	padding: 0;
}

table.memberdecls td.memTemplItemLeft {
	font-size: 13px;
	padding: 1px 0px 0px 8px;
	margin: 0px;
	text-align: right;
	border-left: 1px solid #c0c0c0; /* silver */
	background-color: #f3f3f3; /* concrete */
}

table.memberdecls td.memTemplItemRight {
	font-size: 13px;
	padding: 1px 8px 0px 0px;
	margin: 0px;
	border-right: 1px solid #c0c0c0; /* silver */
	background-color: #f3f3f3; /* concrete */
}

table.memberdecls td.memTemplParams {
	font-size: 13px;
	padding: 1px 0px 0px 8px;
	margin: 0px;
	border-top: 1px solid #c0c0c0; /* silver */
	border-left: 1px solid #c0c0c0; /* silver */
	border-right: 1px solid #c0c0c0; /* silver */
	background-color: #f3f3f3; /* concrete */
}

table.memberdecls td div.groupHeader, tr.inherit_header {
	/* same as h3 */
	color: #0c3762; /* madison */
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: normal;
	border-bottom: dotted thin #c0c0c0; /* silver */
}
tr.inherit_header {
	cursor: pointer;
}

table.memberdecls td div.groupText {
	font-size: 14.4px;
}

/* Style for detailed member documentation */

div.memtemplate {
	font-weight: normal;
	font-style: normal;
}

div.memnav {
	background-color: #f3f3f3; /* concrete */
	border: 1px solid #c0c0c0; /* silver */
	text-align: center;
	margin: 2px;
	margin-right: 15px;
	padding: 2px;
}

/* member item */

div.memitem {
	margin-bottom: 20px;
	width: 100%;
	box-shadow: none;
	transition: none;
}

div.memitem dl.info, div.memitem dl.note, div.memitem dl.attention,
	div.memitem dl.warning,
	div.memitem dl.stop, div.memitem dl.bug {
	width: 99%;
}

/* member prototype */

div.memproto {
	padding: 4px;
	background-color: #f3f3f3; /* concrete */
	border: 1px solid #c0c0c0; /* silver */
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	box-shadow: none;
	border-radius: 0;
}

div.memproto table {
	font-size: 14.4px;
}

/* member table */

div.memproto table.memname {
	line-height: 1.3;
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
}

div.memproto table.memname td.paramtype {
	white-space: nowrap;
}

div.memproto table.memname td.paramkey {
	text-align: right;
}

div.memproto table.memname td.paramname {
	white-space: nowrap;
}

div.memproto table.memname td.memname {
	white-space: nowrap;
}

/* member documentation */

div.memdoc {
	width: 100%;
	border: none;
	box-shadow: none;
	background: none;
}

div.memdoc div.memproto {
	margin-top: 2em;
}

div.memdoc table {
	width: 100%;
}

div.memdoc table td {
	vertical-align: middle;
	padding: 8px;
	border: 1px solid #d5d5d5; /* silver */
}

div.memdoc td:first-child {
	width: 157px;
}

div.memdoc dl dd table {
	width: 100%;
}

div.memdoc dl dd table td {
	font-size: 14.4px;
	padding: 8px;
	border: 1px solid #d5d5d5; /* silver */
}

div.memdoc dl dd table td ul, table td ol {
	margin-top: 8px;
	margin-bottom: 8px;
}

div.memdoc dl dd div.memdoc table.doxtable td {
    border: none;
}

/* parameters table */

div.memdoc dl dd table.params td.paramdir {
	vertical-align: top;
	color: black;
	width: 157px;
}

div.memdoc dl dd table.params td.paramname {
	vertical-align: top;
	font-weight: normal;
	font-style: normal;
	color: #dc3c01; /* grenadier */
	width: 157px;
}

/* return values table */

div.memdoc dl dd table.retval td.paramname {
	vertical-align: top;
	color: blue;
	width: 157px;
}

/* End Styling for detailed member documentation */

/* Tree View on Directory Pages */
div.directory {
	border-top: 1px solid #c0c0c0; /* silver */
	border-bottom: 1px solid #c0c0c0; /* silver */
}

.directory .levels span {
	color: #dc3c01; /* grenadier */
}

/* Footer: color separator */

hr.footer {
	height: 1px;
	border-top: 1px solid #c0c0c0;
}
