#!/bin/keymap -s
#
#	Raw key numbering for 102-key keyboard...
#                                                                                          [sys]       [brk]
#                                                                                           0x7e        0x7f
# [esc]   [ f1] [ f2] [ f3] [ f4]    [ f5] [ f6] [ f7] [ f8]    [ f9] [f10] [f11] [f12]    [prn] [scr] [pau]
#  0x01    0x02  0x03  0x04  0x05     0x06  0x07  0x08  0x09     0x0a  0x0b  0x0c  0x0d     0x0e  0x0f  0x10     K E Y P A D   K E Y S
#
# [ ` ] [ 1 ] [ 2 ] [ 3 ] [ 4 ] [ 5 ] [ 6 ] [ 7 ] [ 8 ] [ 9 ] [ 0 ] [ - ] [ = ] [ bck ]    [ins] [hme] [pup]    [num] [ / ] [ * ] [ - ]
#  0x11  0x12  0x13  0x14  0x15  0x16  0x17  0x18  0x19  0x1a  0x1b  0x1c  0x1d   0x1e      0x1f  0x20  0x21     0x22  0x23  0x24  0x25
#
# [ tab ] [ q ] [ w ] [ e ] [ r ] [ t ] [ y ] [ u ] [ i ] [ o ] [ p ] [ [ ] [ ] ] [ \ ]    [del] [end] [pdn]    [ 7 ] [ 8 ] [ 9 ] [ + ]
#   0x26   0x27  0x28  0x29  0x2a  0x2b  0x2c  0x2d  0x2e  0x2f  0x30  0x31  0x32  0x33     0x34  0x35  0x36     0x37  0x38  0x39  0x3a
#
# [ caps ] [ a ] [ s ] [ d ] [ f ] [ g ] [ h ] [ j ] [ k ] [ l ] [ ; ] [ ' ]  [ enter ]                         [ 4 ] [ 5 ] [ 6 ]
#   0x3b    0x3c  0x3d  0x3e  0x3f  0x40  0x41  0x42  0x43  0x44  0x45  0x46     0x47                            0x48  0x49  0x4a
#
# [shft] [ \ ] [ z ] [ x ] [ c ] [ v ] [ b ] [ n ] [ m ] [ , ] [ . ] [ / ]    [ shift ]          [ up]          [ 1 ] [ 2 ] [ 3 ] [ent]
#  0x4b   0x69  0x4c  0x4d  0x4e  0x4f  0x50  0x51  0x52  0x53  0x54  0x55       0x56             0x57           0x58  0x59  0x5a  0x5b
#
# [ ctrl ]          [ cmd ]             [ space ]             [ cmd ]          [ ctrl ]    [lft] [dwn] [rgt]    [ 0 ] [ . ]
#   0x5c              0x5d                 0x5e                 0x5f             0x60       0x61  0x62  0x63     0x64  0x65
#
#	NOTE: Key 0x69 does not exist on US keyboards
#	NOTE: On a Microsoft Natural Keyboard:
#			left option  = 0x66
#			right option = 0x67
#			menu key     = 0x68
#	NOTE: On an Apple Extended Keyboard:
#			left option  = 0x66
#			right option = 0x67
#			keypad '='   = 0x6a
#			power key    = 0x6b
Version = 3
CapsLock = 0x3b
ScrollLock = 0x0f
NumLock = 0x22
LShift = 0x4b
RShift = 0x56
LCommand = 0x5d
RCommand = 0x67
LControl = 0x5c
RControl = 0x60
LOption = 0x66
ROption = 0x5f
Menu = 0x68
#
# Lock settings
# To set NumLock, do the following:
#   LockSettings = NumLock
#
# To set everything, do the following:
#   LockSettings = CapsLock NumLock ScrollLock
#
LockSettings = 
# Legend:
#   n = Normal
#   s = Shift
#   c = Control
#   C = CapsLock
#   o = Option
# Key      n        s        c        o        os       C        Cs       Co       Cos     
Key 0x00 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x01 = 0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     
Key 0x02 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x03 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x04 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x05 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x06 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x07 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x08 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x09 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0a = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0b = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0c = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0d = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0e = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0f = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x10 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x11 = 0xd191   0xd081   ''       '~'      0xe28988 0xd081   0xd191   '~'      0xe28988 
Key 0x12 = '1'      '!'      ''       0xe2859f '|'      '1'      '!'      0xe2859f '|'      
Key 0x13 = '2'      '"'      ''       '@'      0xc2b2   '2'      '"'      '@'      0xc2b2   
Key 0x14 = '3'      0xe28496 ''       '#'      0xc2b3   '3'      0xe28496 '#'      0xc2b3   
Key 0x15 = '4'      ';'      ''       '$'      0xe281b4 '4'      ';'      '$'      0xe281b4 
Key 0x16 = '5'      '%'      ''       0xc2a7   0xe280b0 '5'      '%'      0xc2a7   0xe280b0 
Key 0x17 = '6'      ':'      0x1e     '^'      0xc2ac   '6'      ':'      '^'      0xc2ac   
Key 0x18 = '7'      '?'      ''       '&'      ' '      '7'      '?'      '&'      ' '      
Key 0x19 = '8'      '*'      ''       0xe2889e 0xe28899 '8'      '*'      0xe2889e 0xe28899 
Key 0x1a = '9'      '('      ''       '['      0xe28098 '9'      '('      '['      0xe28098 
Key 0x1b = '0'      ')'      ''       ']'      0xe28099 '0'      ')'      ']'      0xe28099 
Key 0x1c = '-'      '_'      0x1f     0xe28094 0xe28093 '-'      '_'      0xe28094 0xe28093 
Key 0x1d = '='      '+'      ''       0xe289a1 0xc2b1   '='      '+'      0xe289a1 0xc2b1   
Key 0x1e = 0x08     0x08     0x08     0x08     0x08     0x08     0x08     0x08     0x08     
Key 0x1f = 0x05     0x05     0x05     0x05     0x05     0x05     0x05     0x05     0x05     
Key 0x20 = 0x01     0x01     0x01     0x01     0x01     0x01     0x01     0x01     0x01     
Key 0x21 = 0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     
Key 0x22 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x23 = '/'      '/'      '/'      '/'      '/'      '/'      '/'      '/'      '/'      
Key 0x24 = '*'      '*'      '*'      '*'      '*'      '*'      '*'      '*'      '*'      
Key 0x25 = '-'      '-'      '-'      '-'      '-'      '-'      '-'      '-'      '-'      
Key 0x26 = 0x09     0x09     0x09     0x09     0x09     0x09     0x09     0x09     0x09     
Key 0x27 = 0xd0b9   0xd099   0x11     0xe2889a 0xe289a0 0xd099   0xd0b9   0xe2889a 0xe289a0 
Key 0x28 = 0xd186   0xd0a6   0x17     ' '      ' '      0xd0a6   0xd186   ' '      ' '      
Key 0x29 = 0xd183   0xd0a3   0x05     0xd3b1   0xd3b0   0xd0a3   0xd183   0xe282ac ''       
Key 0x2a = 0xd0ba   0xd09a   0x12     0xc2ae   0xe284a2 0xd09a   0xd0ba   0xc2ae   0xe284a2 
Key 0x2b = 0xd0b5   0xd095   0x14     0xd1a3   0xd1a2   0xd095   0xd0b5   0xd1a2   0xd1a3   
Key 0x2c = 0xd0bd   0xd09d   0x19     0xc2a5   ''       0xd09d   0xd0bd   0xc2a5   ' '      
Key 0x2d = 0xd0b3   0xd093   0x15     0xe288aa 0xe288a8 0xd093   0xd0b3   0xe288aa 0xe288a8 
Key 0x2e = 0xd188   0xd0a8   0x09     0xe282aa ''       0xd0a8   0xd188   0xe282aa ''       
Key 0x2f = 0xd189   0xd0a9   0x0f     0xc2b0   0xe284a6 0xd0a9   0xd189   0xc2b0   0xe284a6 
Key 0x30 = 0xd0b7   0xd097   0x10     0xd39f   0xd39e   0xd097   0xd0b7   0xcf80   0xe2888f 
Key 0x31 = 0xd185   0xd0a5   0x1b     0xc2ab   '{'      0xd0a5   0xd185   0xc2ab   '{'      
Key 0x32 = 0xd18a   0xd0aa   0x1d     0xc2bb   '}'      0xd0aa   0xd18a   0xc2bb   '}'      
Key 0x33 = '\\'     '/'      0x1c     0xd1b5   0xd1b4   '\\'     '/'      0xd1b4   0xd1b5   
Key 0x34 = 0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     
Key 0x35 = 0x04     0x04     0x04     0x04     0x04     0x04     0x04     0x04     0x04     
Key 0x36 = 0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     
Key 0x37 = 0x01     '7'      0x01     0x01     '7'      0x01     '7'      0x01     '7'      
Key 0x38 = 0x1e     '8'      0x1e     0x1e     '8'      0x1e     '8'      0x1e     '8'      
Key 0x39 = 0x0b     '9'      0x0b     0x0b     '9'      0x0b     '9'      0x0b     '9'      
Key 0x3a = '+'      '+'      '+'      '+'      '+'      '+'      '+'      '+'      '+'      
Key 0x3b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x3c = 0xd184   0xd0a4   0x01     0xd1b3   0xd1b2   0xd0a4   0xd184   0xd1b2   0xd1b3   
Key 0x3d = 0xd18b   0xd0ab   0x13     0xd3b9   0xd3b8   0xd0ab   0xd18b   0xcf82   0xe28891 
Key 0x3e = 0xd0b2   0xd092   0x04     0xe28882 0xe28886 0xd092   0xd0b2   0xe28882 0xe28886 
Key 0x3f = 0xd0b0   0xd090   0x06     0xd393   0xd392   0xd090   0xd0b0   0xc2a3   ''       
Key 0x40 = 0xd0bf   0xd09f   0x07     0xe282b4 ' '      0xd09f   0xd0bf   0xe282b4 ' '      
Key 0x41 = 0xd180   0xd0a0   0x08     0xd0a0   ' '      0xe282bd 0xe282bd 0xd0a0   ' '      
Key 0x42 = 0xd0be   0xd09e   0x0a     0xd3a7   0xd3a6   0xd09e   0xd0be   0xe2809e ' '      
Key 0x43 = 0xd0bb   0xd09b   0x0b     0xe2809d ' '      0xd09b   0xd0bb   0xe2809d ' '      
Key 0x44 = 0xd0b4   0xd094   0x0c     0xe2809c 0xe28c80 0xd094   0xd0b4   0xe2809c 0xe28c80 
Key 0x45 = 0xd0b6   0xd096   ''       0xd39d   0xd39c   0xd096   0xd0b6   0xe280a6 ' '      
Key 0x46 = 0xd18d   0xd0ad   ''       0xe280b2 0xe280b3 0xd0ad   0xd18d   0xe280b2 0xe280b3 
Key 0x47 = 0x0a     0x0a     0x0a     0x0a     0xc2ad   0x0a     0x0a     0x0a     0xc2ad   
Key 0x48 = 0x1c     '4'      0x1c     0x1c     '4'      0x1c     '4'      0x1c     '4'      
Key 0x49 = ''       '5'      ''       ''       '5'      ''       '5'      ''       '5'      
Key 0x4a = 0x1d     '6'      0x1d     0x1d     '6'      0x1d     '6'      0x1d     '6'      
Key 0x4b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x4c = 0xd18f   0xd0af   0x1a     0xceb6   ' '      0xd0af   0xd18f   0xceb6   ' '      
Key 0x4d = 0xd187   0xd0a7   0x18     0xd3b5   0xd3b4   0xd0a7   0xd187   0xc397   0xe28a97 
Key 0x4e = 0xd181   0xd0a1   0x03     0xc2a9   0xc2a2   0xd0a1   0xd181   0xc2a9   0xc2a2   
Key 0x4f = 0xd0bc   0xd09c   0x16     0xcebd   ''       0xd09c   0xd0bc   0xcebd   ''       
Key 0x50 = 0xd0b8   0xd098   0x02     0xd3a5   0xd3a4   0xd098   0xd0b8   0xd086   0xd196   
Key 0x51 = 0xd182   0xd0a2   0x0e     0xe288a9 0xe288a7 0xd0a2   0xd182   0xe288a9 0xe288a7 
Key 0x52 = 0xd18c   0xd0ac   0x0d     0xc2b5   0xe28892 0xd0ac   0xd18c   0xc2b5   0xe28892 
Key 0x53 = 0xd0b1   0xd091   ''       0xe289a4 '<'      0xd091   0xd0b1   0xe289a4 '<'      
Key 0x54 = 0xd18e   0xd0ae   ''       0xe289a5 '>'      0xd0ae   0xd18e   0xe289a5 '>'      
Key 0x55 = '.'      ','      ''       0xcc81   0xc3b7   '.'      ','      0xcc81   0xc3b7   
Key 0x56 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x57 = 0x1e     0x1e     0x1e     0xe28691 0xe296b2 0x1e     0x1e     0xe28691 0xe296b2 
Key 0x58 = 0x04     '1'      0x04     0x04     '1'      0x04     '1'      0x04     '1'      
Key 0x59 = 0x1f     '2'      0x1f     0x1f     '2'      0x1f     '2'      0x1f     '2'      
Key 0x5a = 0x0c     '3'      0x0c     0x0c     '3'      0x0c     '3'      0x0c     '3'      
Key 0x5b = 0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     
Key 0x5c = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x5d = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x5e = ' '      ' '      ''       0xc2a0   0xe28089 ' '      ' '      0xc2a0   0xe28089 
Key 0x5f = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x60 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x61 = 0x1c     0x1c     0x1c     0xe28690 0xe29784 0x1c     0x1c     0xe28690 0xe29784 
Key 0x62 = 0x1f     0x1f     0x1f     0xe28693 0xe296bc 0x1f     0x1f     0xe28693 0xe296bc 
Key 0x63 = 0x1d     0x1d     0x1d     0xe28692 0xe296ba 0x1d     0x1d     0xe28692 0xe296ba 
Key 0x64 = 0x05     '0'      0x05     0x05     '0'      0x05     '0'      0x05     '0'      
Key 0x65 = 0x7f     ','      0x7f     0x7f     ','      0x7f     ','      0x7f     ','      
Key 0x66 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x67 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x68 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x69 = '\\'     '/'      ''       ' '      ' '      '\\'     '/'      ' '      ' '      
Key 0x6a = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6c = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6d = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6e = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6f = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x70 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x71 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x72 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x73 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x74 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x75 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x76 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x77 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x78 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x79 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7a = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7c = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7d = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7e = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7f = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Acute ' '       = 0xc2b4   
Acute 'A'       = 0xc381   
Acute 'E'       = 0xc389   
Acute 'I'       = 0xc38d   
Acute 'O'       = 0xc393   
Acute 'U'       = 0xc39a   
Acute 'Y'       = 0xc39d   
Acute 'a'       = 0xc3a1   
Acute 'e'       = 0xc3a9   
Acute 'i'       = 0xc3ad   
Acute 'o'       = 0xc3b3   
Acute 'u'       = 0xc3ba   
Acute 'y'       = 0xc3bd   
AcuteTab = 
Grave ' '       = 0xe2889a 
Grave '2'       = 0xe2889a 
Grave '3'       = 0xe2889b 
Grave '4'       = 0xe2889c 
GraveTab = Option 
Circumflex ' '       = 0xe2859f 
Circumflex '2'       = 0xc2bd   
Circumflex '3'       = 0xe28593 
Circumflex '4'       = 0xc2bc   
Circumflex '5'       = 0xe28595 
Circumflex '6'       = 0xe28599 
Circumflex '8'       = 0xe2859b 
Circumflex '9'       = 0xe28594 
Circumflex '0'       = 0xc2be   
CircumflexTab = Option 
Diaeresis ' '       = 0xd1b5   
Diaeresis 0xd184    = 0xceb1   
Diaeresis 0xd0b8    = 0xceb2   
Diaeresis 0xd0bf    = 0xceb3   
Diaeresis 0xd0b2    = 0xceb4   
Diaeresis 0xd183    = 0xceb5   
Diaeresis 0xd188    = 0xceb7   
Diaeresis 0xd0b4    = 0xcebb   
Diaeresis 0xd0bb    = 0xcebe   
Diaeresis 0xd0ba    = 0xcf81   
Diaeresis 0xd18b    = 0xcf83   
Diaeresis 0xd0b5    = 0xcf84   
Diaeresis 0xd0b0    = 0xcf86   
Diaeresis 0xd187    = 0xcf87   
Diaeresis 0xd0b7    = 0xcf88   
Diaeresis 0xd189    = 0xcf89   
DiaeresisTab = Option 
Tilde ' '       = '~'      
Tilde 'A'       = 0xc383   
Tilde 'O'       = 0xc395   
Tilde 'N'       = 0xc391   
Tilde 'a'       = 0xc3a3   
Tilde 'o'       = 0xc3b5   
Tilde 'n'       = 0xc3ff   
TildeTab = 
