#!/bin/keymap -l
#
#	Raw key numbering for 101 keyboard...
#                                                                                        [sys]       [brk]
#                                                                                         0x7e        0x7f
# [esc]       [ f1] [ f2] [ f3] [ f4] [ f5] [ f6] [ f7] [ f8] [ f9] [f10] [f11] [f12]    [prn] [scr] [pau]
#  0x01        0x02  0x03  0x04  0x05  0x06  0x07  0x08  0x09  0x0a  0x0b  0x0c  0x0d     0x0e  0x0f  0x10     K E Y P A D   K E Y S
#
# [ ` ] [ 1 ] [ 2 ] [ 3 ] [ 4 ] [ 5 ] [ 6 ] [ 7 ] [ 8 ] [ 9 ] [ 0 ] [ - ] [ = ] [bck]    [ins] [hme] [pup]    [num] [ / ] [ * ] [ - ]
#  0x11  0x12  0x13  0x14  0x15  0x16  0x17  0x18  0x19  0x1a  0x1b  0x1c  0x1d  0x1e     0x1f  0x20  0x21     0x22  0x23  0x24  0x25
#
# [tab] [ q ] [ w ] [ e ] [ r ] [ t ] [ y ] [ u ] [ i ] [ o ] [ p ] [ [ ] [ ] ] [ \ ]    [del] [end] [pdn]    [ 7 ] [ 8 ] [ 9 ] [ + ]
#  0x26  0x27  0x28  0x29  0x2a  0x2b  0x2c  0x2d  0x2e  0x2f  0x30  0x31  0x32  0x33     0x34  0x35  0x36     0x37  0x38  0x39  0x3a
#
# [cap] [ a ] [ s ] [ d ] [ f ] [ g ] [ h ] [ j ] [ k ] [ l ] [ ; ] [ ' ] [  enter  ]                         [ 4 ] [ 5 ] [ 6 ]
#  0x3b  0x3c  0x3d  0x3e  0x3f  0x40  0x41  0x42  0x43  0x44  0x45  0x46     0x47                             0x48  0x49  0x4a
#
# [shift]     [ z ] [ x ] [ c ] [ v ] [ b ] [ n ] [ m ] [ , ] [ . ] [ / ]     [shift]          [ up]          [ 1 ] [ 2 ] [ 3 ] [ent]
#   0x4b       0x4c  0x4d  0x4e  0x4f  0x50  0x51  0x52  0x53  0x54  0x55       0x56            0x57           0x58  0x59  0x5a  0x5b
#
# [ctr]             [cmd]             [  space  ]             [cmd]             [ctr]    [lft] [dwn] [rgt]    [ 0 ] [ . ]
#  0x5c              0x5d                 0x5e                 0x5f              0x60     0x61  0x62  0x63     0x64  0x65
#
#	NOTE: On a Microsoft Natural Keyboard:
#			left option  = 0x66
#			right option = 0x67
#			menu key     = 0x68
#	NOTE: On an Apple Extended Keyboard:
#			left option  = 0x66
#			right option = 0x67
#			keypad '='   = 0x6a
#			power key    = 0x6b
Version = 3
CapsLock = 0x3b
ScrollLock = 0x0f
NumLock = 0x22
LShift = 0x4b
RShift = 0x56
LCommand = 0x5d
RCommand = 0x00
LControl = 0x5c
RControl = 0x60
LOption = 0x66
ROption = 0x5f
Menu = 0x68
#
# Lock settings
# To set NumLock, do the following:
#   LockSettings = NumLock
#
# To set everything, do the following:
#   LockSettings = CapsLock NumLock ScrollLock
#
LockSettings = 
# Legend:
#   n = Normal
#   s = Shift
#   c = Control
#   C = CapsLock
#   o = Option
# Key      n        s        c        o        os       C        Cs       Co       Cos     
Key 0x00 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x01 = 0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     
Key 0x02 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x03 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x04 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x05 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x06 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x07 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x08 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x09 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0a = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0b = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0c = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0d = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0e = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0f = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x10 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x11 = '`'      '~'      ''       ' '      ''       '`'      '~'      ' '      ''       
Key 0x12 = '1'      '!'      ''       '~'      ''       '1'      '!'      '~'      ''       
Key 0x13 = '2'      '"'      ''       ' '      ''       '2'      '"'      ' '      ''       
Key 0x14 = '3'      '#'      0x1e     '^'      ''       '3'      '#'      '^'      ''       
Key 0x15 = '4'      '$'      ''       ' '      ''       '4'      '$'      ' '      ''       
Key 0x16 = '5'      '%'      ''       ' '      ''       '5'      '%'      ' '      ''       
Key 0x17 = '6'      '&'      ''       ' '      ''       '6'      '&'      ' '      ''       
Key 0x18 = '7'      '/'      ''       '`'      ''       '7'      '/'      '`'      ''       
Key 0x19 = '8'      '('      ''       ' '      ''       '8'      '('      ' '      ''       
Key 0x1a = '9'      ')'      ''       ' '      ''       '9'      ')'      ' '      ''       
Key 0x1b = '0'      '='      ''       ' '      ''       '0'      '='      ' '      ''       
Key 0x1c = '\''     '?'      ''       ' '      ''       '\''     '?'      ' '      ''       
Key 0x1d = '+'      '*'      ''       ' '      ''       '+'      '*'      ' '      ''       
Key 0x1e = 0x08     0x08     0x08     0x08     0x08     0x08     0x08     0x08     0x08     
Key 0x1f = 0x05     0x05     0x05     0x05     0x05     0x05     0x05     0x05     0x05     
Key 0x20 = 0x01     0x01     0x01     0x01     0x01     0x01     0x01     0x01     0x01     
Key 0x21 = 0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     
Key 0x22 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x23 = '/'      '/'      '/'      '/'      '/'      '/'      '/'      '/'      '/'      
Key 0x24 = '*'      '*'      '*'      '*'      '*'      '*'      '*'      '*'      '*'      
Key 0x25 = '-'      '-'      '-'      '-'      '-'      '-'      '-'      '-'      '-'      
Key 0x26 = 0x09     0x09     0x09     0x09     0x09     0x09     0x09     0x09     0x09     
Key 0x27 = 0xd199   0xd089   0x11     '\\'     ''       0xd089   0xd199   '\\'     ''       
Key 0x28 = 0xd19a   0xd08a   0x17     '|'      ''       0xd08a   0xd19a   '|'      ''       
Key 0x29 = 0xd0b5   0xd095   0x05     0xe282ac ''       0xd095   0xd0b5   0xe282ac ''       
Key 0x2a = 0xd180   0xd0a0   0x12     ' '      ''       0xd0a0   0xd180   ' '      ''       
Key 0x2b = 0xd182   0xd0a2   0x14     ' '      ''       0xd0a2   0xd182   ' '      ''       
Key 0x2c = 0xd0b7   0xd097   0x1a     ' '      ''       0xd097   0xd0b7   ' '      ''       
Key 0x2d = 0xd183   0xd0a3   0x15     ' '      ''       0xd0a3   0xd183   ' '      ''       
Key 0x2e = 0xd0b8   0xd098   0x09     ' '      ''       0xd098   0xd0b8   ' '      ''       
Key 0x2f = 0xd0be   0xd09e   0x0f     ' '      ''       0xd09e   0xd0be   ' '      ''       
Key 0x30 = 0xd0bf   0xd09f   0x10     ' '      ''       0xd09f   0xd0bf   ' '      ''       
Key 0x31 = 0xd188   0xd0a8   0x1b     0xd083   ''       0xd0a8   0xd188   0xd083   ''       
Key 0x32 = 0xd192   0xd082   0x1d     0xd193   ''       0xd082   0xd192   0xd193   ''       
Key 0x33 = 0xd0b6   0xd096   0x1c     ' '      ''       0xd096   0xd0b6   ' '      ''       
Key 0x34 = 0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     
Key 0x35 = 0x04     0x04     0x04     0x04     0x04     0x04     0x04     0x04     0x04     
Key 0x36 = 0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     
Key 0x37 = 0x01     '7'      0x01     0x01     '7'      0x01     '7'      0x01     '7'      
Key 0x38 = 0x1e     '8'      0x1e     0x1e     '8'      0x1e     '8'      0x1e     '8'      
Key 0x39 = 0x0b     '9'      0x0b     0x0b     '9'      0x0b     '9'      0x0b     '9'      
Key 0x3a = '+'      '+'      '+'      '+'      '+'      '+'      '+'      '+'      '+'      
Key 0x3b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x3c = 0xd0b0   0xd090   0x01     ' '      ''       0xd090   0xd0b0   ' '      ''       
Key 0x3d = 0xd181   0xd0a1   0x13     ' '      ''       0xd0a1   0xd181   ' '      ''       
Key 0x3e = 0xd0b4   0xd094   0x04     ' '      ''       0xd094   0xd0b4   ' '      ''       
Key 0x3f = 0xd184   0xd0a4   0x06     '['      ''       0xd0a4   0xd184   '['      ''       
Key 0x40 = 0xd0b3   0xd093   0x07     ']'      ''       0xd093   0xd0b3   ']'      ''       
Key 0x41 = 0xd185   0xd0a5   0x08     ' '      ''       0xd0a5   0xd185   ' '      ''       
Key 0x42 = 0xd198   0xd088   0x0a     ' '      ''       0xd088   0xd198   ' '      ''       
Key 0x43 = 0xd0ba   0xd09a   0x0b     ' '      ''       0xd09a   0xd0ba   ' '      ''       
Key 0x44 = 0xd0bb   0xd09b   0x0c     ' '      ''       0xd09b   0xd0bb   ' '      ''       
Key 0x45 = 0xd187   0xd0a7   ''       0xd08c   ''       0xd0a7   0xd187   0xd08c   ''       
Key 0x46 = 0xd19b   0xd08b   ''       0xd19c   ''       0xd08b   0xd19b   0xd19c   ''       
Key 0x47 = 0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     
Key 0x48 = 0x1c     '4'      0x1c     0x1c     '4'      0x1c     '4'      0x1c     '4'      
Key 0x49 = ''       '5'      ''       ''       '5'      ''       '5'      ''       '5'      
Key 0x4a = 0x1d     '6'      0x1d     0x1d     '6'      0x1d     '6'      0x1d     '6'      
Key 0x4b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x4c = 0xd195   0xd085   0x19     ' '      ''       0xd085   0xd195   ' '      ''       
Key 0x4d = 0xd19f   0xd08f   0x18     ' '      ''       0xd08f   0xd19f   ' '      ''       
Key 0x4e = 0xd186   0xd0a6   0x03     ' '      ''       0xd0a6   0xd186   ' '      ''       
Key 0x4f = 0xd0b2   0xd092   0x16     '@'      ''       0xd092   0xd0b2   '@'      ''       
Key 0x50 = 0xd0b1   0xd091   0x02     '{'      ''       0xd091   0xd0b1   '{'      ''       
Key 0x51 = 0xd0bd   0xd09d   0x0e     '}'      ''       0xd09d   0xd0bd   '}'      ''       
Key 0x52 = 0xd0bc   0xd09c   0x0d     0xc2a7   ''       0xd09c   0xd0bc   0xc2a7   ''       
Key 0x53 = ','      ';'      ''       '<'      ''       ','      ';'      '<'      ''       
Key 0x54 = '.'      ':'      ''       '>'      ''       '.'      ':'      '>'      ''       
Key 0x55 = '-'      '_'      0x1f     ' '      ''       '-'      '_'      ' '      ''       
Key 0x56 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x57 = 0x1e     0x1e     0x1e     0x1e     0x1e     0x1e     0x1e     0x1e     0x1e     
Key 0x58 = 0x04     '1'      0x04     0x04     '1'      0x04     '1'      0x04     '1'      
Key 0x59 = 0x1f     '2'      0x1f     0x1f     '2'      0x1f     '2'      0x1f     '2'      
Key 0x5a = 0x0c     '3'      0x0c     0x0c     '3'      0x0c     '3'      0x0c     '3'      
Key 0x5b = 0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     
Key 0x5c = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x5d = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x5e = ' '      ' '      0x00     ' '      ' '      ' '      ' '      ' '      ' '      
Key 0x5f = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x60 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x61 = 0x1c     0x1c     0x1c     0x1c     0x1c     0x1c     0x1c     0x1c     0x1c     
Key 0x62 = 0x1f     0x1f     0x1f     0x1f     0x1f     0x1f     0x1f     0x1f     0x1f     
Key 0x63 = 0x1d     0x1d     0x1d     0x1d     0x1d     0x1d     0x1d     0x1d     0x1d     
Key 0x64 = 0x05     '0'      0x05     0x05     '0'      0x05     '0'      0x05     '0'      
Key 0x65 = 0x7f     ','      0x7f     0x7f     ','      0x7f     ','      0x7f     ','      
Key 0x66 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x67 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x68 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x69 = '<'      '>'      ''       ' '      ''       '<'      '>'      ' '      ''       
Key 0x6a = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6c = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6d = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6e = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6f = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x70 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x71 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x72 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x73 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x74 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x75 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x76 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x77 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x78 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x79 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7a = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7c = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7d = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7e = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7f = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Acute ' '       = '\''     
Acute 0xd093    = 0xd083   
Acute 0xd09a    = 0xd08c   
Acute 0xd0b3    = 0xd193   
Acute 0xd0ba    = 0xd19c   
Acute ''        = ''       
Acute ''        = ''       
Acute ''        = ''       
Acute ''        = ''       
Acute ''        = ''       
Acute ''        = ''       
Acute ''        = ''       
Acute ''        = ''       
Acute ''        = ''       
Acute ''        = ''       
Acute ''        = ''       
AcuteTab = Normal Shift CapsLock CapsLock-Shift 
GraveTab = 
CircumflexTab = 
DiaeresisTab = 
TildeTab = 
