/*
 * Copyright 2008, Haiku. All rights reserved.
 * Distributed under the terms of the MIT License.
 *
 * Authors:
 *		François Revol <revol@free.fr>
 *		Stephan Aßmus <superstippi@gmx.de>
 *		Braden Ewing <brewin@gmail.com>
 *		Humdinger <humdingerb@gmail.com>
 */

html {
	margin: 0px;
	padding: 0px;
}
body {
	color: #333333;
	margin: 0px; 
	padding: 0px;
	font-family: "DejaVu Sans",Arial,Helvetica,sans-serif;
}

/* link colors and text decoration */

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #dc3c01;
}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #892601;
}
a:hover, a:active { 
	text-decoration: underline; 
	color: #ff4500;
}

/* Some headers act as anchors, don't give them a hover effect */

h2 a:hover, a:active {
	text-decoration: none;
	color: #0c3762;
}
h3 a:hover, a:active {
	text-decoration: none;
	color: #222;
}
h4 a:hover, a:active {
	text-decoration: none;
	color: #000;
}

/* basic text elements */

div.content {
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 40px;
}
h1 {
	font-size: 1.3em;
	font-weight: normal;
	color: #0c3762;
	border-bottom: dotted thin #e0e0e0;
}
h2 {
	font-size: 1.2em;
	font-weight: normal;
	color: #0c3762;
	border-bottom: dotted thin #e0e0e0;
	margin-top: 50px;
}
h3 {
	font-size: 1.1em;
	font-weight: normal;
	color: #222;
	margin-top: 30px;
}
p {
	text-align: justify;
	line-height: 1.3;
}
ol {
	padding-left: 20px;
}
ul {
	padding-left: 14px;
}
li {
	line-height: 1.3;
}

/* heading and navigation */

div.logo {
	position: relative;
	left: 0px;
	top: 0px;
	background: #efefef;
}
div.logo img {
	margin-left: 20px;
}
div.title {
	position: absolute;
	top: 54px;
	right: 40px;
	font-size: 1.2em;
}
div.topnav {
	background: #e0e0e0;
}
div.topnav p {
	margin-left: 40px;
	margin-top: 0px;
	margin-right: 40px;
	margin-bottom: 0px;
	text-align: right;
	font-size: 0.8em;
}
div.bottomnav {
	background: #efefef;
}
div.bottomnav p {
	margin-left: 40px;
	margin-top: 0px;
	margin-right: 40px;
	margin-bottom: 0px;
	text-align: right;
	font-size: 0.8em;
}

/* layout elements */

td {
	vertical-align: top;
}
td.onelinetop {
	vertical-align: top;
	white-space: nowrap;
}
tt {
	background-color: #f0f0f0;
}
pre.terminal {
	border-color: #0c3762;
	border-style: dotted;
	border-width: medium;
	margin: 0em;
	padding: 1.5em;
	background-color: #f0f0f0;
}
