#!/bin/keymap -l
Version = 3
CapsLock = 0x3b
ScrollLock = 0x0f
NumLock = 0x22
LShift = 0x4b
RShift = 0x56
LCommand = 0x5d
RCommand = 0x67
LControl = 0x5c
RControl = 0x60
LOption = 0x66
ROption = 0x5f
Menu = 0x68
LockSettings = ScrollLock
Key 0x00 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x01 = 0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     0x1b     
Key 0x02 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x03 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x04 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x05 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x06 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x07 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x08 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x09 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0a = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0b = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0c = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0d = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0e = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x0f = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x10 = 0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     0x10     
Key 0x11 = 0xc2a7   0xc2bd   0x1e     0xc2a7   0xc2a5   0xc2a7   0xc2bd   '^'      '^^^'    
Key 0x12 = '1'      '!'      '1'      0xc2a1   0xc2b9   '1'      '!'      '1'      '1'      
Key 0x13 = '2'      '"'      ''       '@'      0xc2b2   '2'      '"'      '2'      '2'      
Key 0x14 = '3'      '#'      0x1b     0xc2a3   0xc2b3   '3'      '#'      '3'      '3'      
Key 0x15 = '4'      0xc2a4   0x1c     '$'      0xc2bc   '4'      0xc2a4   '4'      '4'      
Key 0x16 = '5'      '%'      0x1d     0xe2889e 0xe280b0 '5'      '%'      '5'      '5'      
Key 0x17 = '6'      '&'      0x1e     0xc2b0   0xc2be   '6'      '&'      '6'      '6'      
Key 0x18 = '7'      '/'      0xc2bd   '{'      0xc2bd   '7'      '/'      '7'      '7'      
Key 0x19 = '8'      '('      0x08     '['      '['      '8'      '('      '8'      '8'      
Key 0x1a = '9'      ')'      '9'      ']'      ']'      '9'      ')'      0x1d     '9'      
Key 0x1b = '0'      '='      '0'      '}'      0xe289a0 '0'      '='      '0'      '0'      
Key 0x1c = '+'      '?'      0x1f     '\\'     0xe28988 '+'      '?'      0x1c     0xc39f   
Key 0x1d = 0xc2b4   '`'      0xc2b4   0xc2b4   0xc2bf   '`'      0xc2b4   0xc2b4   0xc2b4   
Key 0x1e = 0x08     0x08     0x08     0x08     0x08     0x08     0x08     0x08     0x08     
Key 0x1f = 0x05     0x05     0x05     0x05     0x05     0x05     0x05     0x05     0x05     
Key 0x20 = 0x01     0x01     0x01     0x01     0x01     0x01     0x01     0x01     0x01     
Key 0x21 = 0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     0x0b     
Key 0x22 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x23 = '/'      '/'      '/'      0xc3b7   '/'      '/'      '/'      '/'      '/'      
Key 0x24 = '*'      '*'      '*'      '*'      '*'      '*'      '*'      '*'      '*'      
Key 0x25 = '-'      '-'      '-'      '-'      '-'      '-'      '-'      '-'      '-'      
Key 0x26 = 0x09     0x09     0x09     0x09     0x09     0x09     0x09     0x09     0x09     
Key 0x27 = 0xc3a5   0xc385   0x11     0xc3a5   0xc3bc   0xc385   0xc3a5   'q'      'q'      
Key 0x28 = 0xc3a4   0xc384   0x17     0xc3a6   0xc386   0xc384   0xc3b6   'w'      'w'      
Key 0x29 = 0xc3b6   0xc396   0x05     0xc3b8   0xc398   0xc396   0xc3a4   'e'      'e'      
Key 0x2a = 'p'      'P'      0x12     0xcf80   0xe2888f 'P'      'p'      'r'      'r'      
Key 0x2b = 'y'      'Y'      0x14     0xe2978a 'z'      'Y'      'y'      't'      't'      
Key 0x2c = 'f'      'F'      0x1a     0xc692   0xc692   'F'      'f'      'z'      'z'      
Key 0x2d = 'g'      'G'      0x15     0xc3b8   0xc398   'G'      'g'      'u'      'u'      
Key 0x2e = 'c'      'C'      0x09     0xc2a9   0xc2a2   'C'      'c'      'i'      'i'      
Key 0x2f = 'r'      'R'      0x0f     0xc2ae   'r'      'R'      'r'      'o'      'o'      
Key 0x30 = 'l'      'L'      0x10     'l'      'l'      'L'      'l'      'p'      'p'      
Key 0x31 = ','      ';'      0x1b     ','      0xc2ab   ','      ';'      0xc3bc   0xc3bc   
Key 0x32 = 0xc2a8   '^'      0x1d     '~'      '+'      '*'      '+'      '+'      '+'      
Key 0x33 = '\''     '*'      0x1c     '#'      '#'      '\''     '*'      '#'      '#'      
Key 0x34 = 0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     0x7f     
Key 0x35 = 0x04     0x04     0x04     0x04     0x04     0x04     0x04     0x04     0x04     
Key 0x36 = 0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     0x0c     
Key 0x37 = '7'      '7'      0x1e     0x1e     '8'      '7'      '7'      0x1e     0x1e     
Key 0x38 = '8'      '8'      0x1e     0x1e     '8'      '8'      '8'      0x1e     0x1e     
Key 0x39 = '9'      '9'      0x0b     0x0b     '9'      '9'      '9'      0x0b     '3'      
Key 0x3a = '+'      '+'      '+'      0xc2b1   0xe280a1 '+'      '+'      '+'      '+'      
Key 0x3b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x3c = 'a'      'A'      0x01     0xc2aa   'a'      'A'      'a'      'a'      'a'      
Key 0x3d = 'o'      'O'      0x13     0xc3b4   0xc2ba   'O'      'o'      's'      's'      
Key 0x3e = 'e'      'E'      0x04     0xc2b6   'e'      'E'      'e'      'd'      'd'      
Key 0x3f = 'u'      'U'      0x06     0xc3bc   'u'      'U'      'u'      'f'      'f'      
Key 0x40 = 'i'      'I'      0x07     'i'      0xe288ab 'I'      'i'      'g'      'g'      
Key 0x41 = 'd'      'D'      0x08     0xe28882 0xe28886 'D'      'd'      'h'      'h'      
Key 0x42 = 'h'      'H'      0x0a     '#' 		'h'     'H'      'h'      'j'      'j'      
Key 0x43 = 't'      'T'      0x0b     0xe284a2 't'      'T'      't'      'k'      'k'      
Key 0x44 = 'n'      'N'      0x0c     0xc3b1   0xc391   'N'      'n'      'l'      'l'      
Key 0x45 = 's'      'S'      0xc3b6   's'      0xe28891 'S'      's'      0xc3b6   0xc3b6   
Key 0x46 = '-'      '_'      0x07     0xe28093 0xc2b1   '-'      '_'      0xc3a4   0xc3a4   
Key 0x47 = 0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     
Key 0x48 = '4'      '4'      0x1c     0x1c     '4'      '4'      '4'      0x1c     '4'      
Key 0x49 = '5'      '5'      ''       ''       '5'      '5'      '5'      ''       '5'      
Key 0x4a = '6'      '6'      0x1d     0x1d     '6'      '6'      '6'      0x1d     '6'      
Key 0x4b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x4c = '.'      ':'      0x19     0xe280a6 0xc2bb   '.'      ':'      'y'      'y'      
Key 0x4d = 'q'      'Q'      0x18     0xe2889a 'q'      'Q'      'q'      'x'      'x'      
Key 0x4e = 'j'      'J'      0x03     'j'      'j'      'J'      'j'      'c'      'c'      
Key 0x4f = 'k'      'K'      0x16     'k'      'k'      'K'      'k'      'v'      'v'      
Key 0x50 = 'x'      'X'      0x02     0xc397   'x'      'X'      'x'      'b'      'b'      
Key 0x51 = 'b'      'B'      0x0e     'b'      0xc39f   'B'      'b'      'n'      'n'      
Key 0x52 = 'm'      'M'      0x0d     0xc2b5   'm'      'M'      'm'      'm'      'm'      
Key 0x53 = 'w'      'W'      ','      0xe280a0 'w'      'W'      'w'      ','      ','      
Key 0x54 = 'v'      'V'      '.'      0xc3a7   0xc387   'V'      'v'      '.'      '.'      
Key 0x55 = 'z'      'Z'      0x08     'z'      'y'      'Z'      'z'      '-'      '-'      
Key 0x56 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x57 = 0x1e     0x1e     0x1e     0x1e     0x1e     0x1e     0x1e     0x1e     0x1e     
Key 0x58 = '1'      '1'      0x04     0x04     '1'      '1'      '1'      0x04     '7'      
Key 0x59 = '2'      '2'      0x0c     0x0c     '3'      '2'      '2'      0x0c     0x0c     
Key 0x5a = '3'      '3'      0x0c     0x0c     '3'      '3'      '3'      0x0c     '9'      
Key 0x5b = 0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     0x0a     
Key 0x5c = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x5d = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x5e = ' '      ' '      ''       ' '      ' '      ' '      ' '      ' '      ' '      
Key 0x5f = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x60 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x61 = 0x1c     0x1c     0x1c     0x1c     0x1c     0x1c     0x1c     0x1c     0x1c     
Key 0x62 = 0x1f     0x1f     0x1f     0x1f     0x1f     0x1f     0x1f     0x1f     0x1f     
Key 0x63 = 0x1d     0x1d     0x1d     0x1d     0x1d     0x1d     0x1d     0x1d     0x1d     
Key 0x64 = '0'      '0'      0x05     0x05     '0'      '0'      '0'      0x05     '0'      
Key 0x65 = 0x7f     '.'      0x7f     0x7f     '.'      '.'      ','      0x7f     '.'      
Key 0x66 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x67 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x68 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x69 = '<'      '>'      ''       '|'      '|'      '<'      '>'      '|'      '|'      
Key 0x6a = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6c = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6d = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6e = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x6f = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x70 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x71 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x72 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x73 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x74 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x75 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x76 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x77 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x78 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x79 = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7a = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7b = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7c = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7d = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7e = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Key 0x7f = ''       ''       ''       ''       ''       ''       ''       ''       ''       
Acute ' '       = 0xc2b4   
Acute 'A'       = 0xc381   
Acute 'E'       = 0xc389   
Acute 'I'       = 0xc38d   
Acute 'O'       = 0xc393   
Acute 'U'       = 0xc39a   
Acute 'a'       = 0xc3a1   
Acute 'e'       = 0xc3a9   
Acute 'i'       = 0xc3ad   
Acute 'o'       = 0xc3b3   
Acute 'u'       = 0xc3ba   
Acute 'D'       = 0xc390   
Acute 'd'       = 0xc3b0   
Acute 0xc3      = ''       
Acute 0xc3      = ''       
Acute 0xc3      = ''       
AcuteTab = Normal Shift Control Option Option-Shift CapsLock CapsLock-Shift CapsLock-Option CapsLock-Option-Shift 
Grave ' '       = '`'      
Grave 'A'       = 0xc380   
Grave 'E'       = 0xc388   
Grave 'I'       = 0xc38c   
Grave 'O'       = 0xc392   
Grave 'U'       = 0xc399   
Grave 'a'       = 0xc3a0   
Grave 'e'       = 0xc3a8   
Grave 'i'       = 0xc3ac   
Grave 'o'       = 0xc3b2   
Grave 'u'       = 0xc3b9   
Grave 0xc3      = ''       
Grave 0xc3      = ''       
Grave 0xc3      = ''       
Grave 0xc3      = ''       
Grave 0xc3      = ''       
GraveTab = Normal Shift Control Option Option-Shift CapsLock CapsLock-Shift CapsLock-Option CapsLock-Option-Shift 
Circumflex ' '       = '^'      
Circumflex 'A'       = 0xc382   
Circumflex 'E'       = 0xc38a   
Circumflex 'I'       = 0xc38e   
Circumflex 'O'       = 0xc394   
Circumflex 'U'       = 0xc39b   
Circumflex 'a'       = 0xc3a2   
Circumflex 'e'       = 0xc3aa   
Circumflex 'i'       = 0xc3ae   
Circumflex 'o'       = 0xc3b4   
Circumflex 'u'       = 0xc3bb   
Circumflex 0xc3      = ''       
Circumflex 0xc3      = ''       
Circumflex 0xc3      = ''       
Circumflex 0xc3      = ''       
Circumflex 0xc3      = ''       
CircumflexTab = Normal Shift Control Option Option-Shift CapsLock CapsLock-Shift CapsLock-Option CapsLock-Option-Shift 
Diaeresis ' '       = 0xc2a8   
Diaeresis 'A'       = 0xc384   
Diaeresis 'E'       = 0xc38c   
Diaeresis 'I'       = 0xc390   
Diaeresis 'O'       = 0xc396   
Diaeresis 'U'       = 0xc39d   
Diaeresis 'a'       = 0xc3a4   
Diaeresis 'e'       = 0xc3ac   
Diaeresis 'i'       = 0xc3b0   
Diaeresis 'o'       = 0xc3b6   
Diaeresis 'u'       = 0xc3bd   
Diaeresis 0xc3      = ''       
Diaeresis 0xc3      = ''       
Diaeresis 0xc3      = ''       
Diaeresis 0xc3      = ''       
Diaeresis 0xc3      = ''       
DiaeresisTab = Normal Shift Control Option Option-Shift CapsLock CapsLock-Shift CapsLock-Option CapsLock-Option-Shift 
Tilde ' '       = '~'      
Tilde 'A'       = 0xc383   
Tilde 'E'       = 0xc38b   
Tilde 'I'       = 0xc38f   
Tilde 'O'       = 0xc395   
Tilde 'U'       = 0xc39c   
Tilde 'a'       = 0xc3a3   
Tilde 'e'       = 0xc3ab   
Tilde 'i'       = 0xc3af   
Tilde 'o'       = 0xc3b5   
Tilde 'u'       = 0xc3bc   
Tilde 'N'       = 0xc391   
Tilde 'n'       = 0xc3b1   
Tilde 0xc3      = ''       
Tilde 0xc3      = ''       
Tilde 0xc3      = ''       
TildeTab = Normal Shift Control Option Option-Shift CapsLock CapsLock-Shift CapsLock-Option CapsLock-Option-Shift

