/*
 * Copyright 2008-2017, Haiku. All rights reserved.
 * Distributed under the terms of the MIT License.
 *
 * Authors:
 *		François Revol <revol@free.fr>
 *		Stephan Aßmus <superstippi@gmx.de>
 *		Braden Ewing <brewin@gmail.com>
 *		Humdinger <humdingerb@gmail.com>
 *		Vincent Duvert <vincent.duvert@free.fr>
 *		Augustin Cavalier <waddlesplash>
 *		Pascal R. G. Abresch <nep@packageloss.eu>
 */

/* don't use @media (prefers-color-scheme: light) here, so it runs correctly in browsers that don't 
   understand it and thus expect a light mode as is the default for html */
:root {
	color-scheme: light dark;

	--CanvasBackground: #FFF;
	--CanvasText: #333333;
	--LinkText: #dc3c01;
	--VisitedLinkText: #892601;
	--TableBackground: #ff4500;
	--TableHeaderBackground: #e0e0e0;
	--HeaderColor: #0c3762;
	--MenuColor: #24225e;
	--ActiveLinkText: #ff4500;
	--HeaderText: #0c3762;
	--ButtonBackground: #e8e8e8;
	--ButtonBorder: #c7c7c7;
	--InfoBackground: #e4ffde;
	--WarningBackground: #fffbc6;
	--StopBackground: #ffeae6;
	--SecondaryCanvas: #e0e0e0;
	--TertiaryCanvas: #efefef;
}


@media (prefers-color-scheme: dark) {
	:root {
		--CanvasBackground: #000;
		--LinkText: #f24000;
		--VisitedLinkText: #bf3401;
		--ActiveLinkText: #ff4500;
		--HeaderText: #1b80e5;
		--ButtonBorder: #666;
		--InfoBackground: #0d2f3f;
		--WarningBackground: #453b07;
		--StopBackground: #4d0000;
		--MenuColor: #5c57f2;
	}
	@media (prefers-contrast: no-preference) {
		:root {
			--CanvasText: #DDD;
			--ButtonBackground: #444;
			--SecondaryCanvas: #222;
			--TertiaryCanvas: #131313;
		}
	}
	@media (prefers-contrast: more) {
		:root {
			--CanvasText: #EFEFEF;
			--ButtonBackground: #222;
			--SecondaryCanvas: #111;
			--TertiaryCanvas: #080808;
		}
	}
	@media (prefers-contrast: less) {
		:root {
			--CanvasText: #AAA;
			--ButtonBackground: #444;
		}
	}
}


@media (forced-colors: active) {
	:root {
		/* Userguide specific */
		/* "Normal values" */
		--HeaderText: LinkText;
		--CanvasBackground: Canvas;
		--CanvasText: CanvasText;
		--LinkText: LinkText;
		--VisitedLinkText: VisitedText;
		--ActiveLinkText: ActiveText;
		--ButtonBackground: ButtonFace;
		--ButtonBorder: ButtonBorder;
		--InputBackground: Field;
		--InputText: FieldText;
		--HighlightBackground: Highlight;
		--HighlightText: HighlightText;
		--SelectedBackground: SelectedItem;
		--SelectedText: SelectedItemText;
		--MarkBackground: Mark;
		--MarkText: MarkText;
		--DisabledText: GrayText;
	}
}


html {
	margin: 0;
	padding: 0;
	background: var(--CanvasBackground);
}

body {
	color: var(--CanvasText);
	line-height: 1.5;
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

/* link colors and text decoration */

a:link {
	font-weight: bold;
	text-decoration: none;
	color: var(--LinkText);
}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: var(--VisitedLinkText)
}
a:hover, a:active {
	text-decoration: underline;
	color: var(--ActiveLinkText);
}

/* Some headers act as anchors, don't give them a hover effect */

h2 a:hover, a:active {
	text-decoration: none;
	color: var(--HeaderText);
}
h3 a:hover, a:active {
	text-decoration: none;
	color: var(--HeaderText);
}
h4 a:hover, a:active {
	text-decoration: none;
	color: var(--HeaderText);
}
h5 a:hover, a:active {
	text-decoration: none;
	color: var(--HeaderText);
}

/* heading and navigation */

#banner {
	position: relative;
	left: 0;
	top: 0;
	height: 84px;
	background: var(--SecondaryCanvas);
}

#banner div {
	background: transparent url(images/logo.png) no-repeat scroll 10px 0;
	height: 100%;
	margin: 0 auto;
}

/* HaikuDark.svg -> Haiku logo - white on black - normal; canvas resize to width 254 */
@media (prefers-color-scheme: dark) {
	#banner div {
		background: url(images/HaikuDark.svg) no-repeat scroll 6px 8px, url(images/LeafDark.png) no-repeat scroll 10px 0;
	}
}
@media (min-width:768px) {
	#banner {
		min-width: 59em;
	}
	#banner div {
		min-width: 59em;
		max-width: 70em;
	}
}

#banner span {
	position: relative;
	top: 51px;
	left: 272px;
	color: var(--CanvasText);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: Myriad Pro,Myriad Web Pro Regular,Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-weight: normal;
	font-size: 16px;
}

div.nav {
	position: relative;
	left: 0;
	top: 0;
	background: var(--SecondaryCanvas);
	padding: 0;
}
@media (min-width:768px) {
	div.nav {
		min-width: 59em;
	}
}

div.nav div.inner {
	height: 100%;
	margin: 0 auto;
	text-align: right;
	padding: 0;
}
@media (min-width:768px) {
	div.nav div.inner {
		min-width: 59em;
		max-width: 70em;
	}
}

div.nav div.inner span {
	margin-right: 40px;
	font-size: 0.8em;
}

div.nav div.inner span a.uplink {
	font-weight: normal;
}

/* Language selection menu */

ul.lang-menu {
	display: block;
	text-align: left;
	list-style-type: none;
	font-size: 0.8em;
	position: absolute;
	margin: 0;
}

ul.lang-menu img {
	border: 0;
	padding-right: 5px;
}

ul.lang-menu li {
	margin-left: 10px;
	background-color: var(--SecondaryCanvas);
	display: none;
}

ul.lang-menu:hover li {
	display: block;
}

ul.lang-menu li:hover {
	background-color: var(--TertiaryCanvas);
}

ul.lang-menu li.now {
	padding: 5px 5px 0 5px;
	display: block;
	background-color: inherit;
}

ul.lang-menu li.now span.dropdown-caret {
	color: #aaaaaa;
	position: relative;
	top: -0.1em;
}

ul.lang-menu li a {
	color: var(--CanvasText);
	text-decoration: none;
	font-weight: normal;
	display: block;
	padding: 2px 5px 2px 5px;
}

/* main content */
#content {
	margin: 0 auto;
}
#content img {
	max-width: 100%;
}
@media (min-width:768px) {
	#content {
		min-width: 59em;
		max-width: 70em;
	}
}

#content > div {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 25px;
	font-size: 0.9em;
}
@media (min-width:768px) {
	#content > div {
		margin-top: 30px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 50px;
	}
}

/* contents box */

table.index {
	margin: 0px 0px 30px 30px;
	padding: 1px;
	border-width: 1px;
	border-style: dotted;
	border-color: #e0e0e0;
	float: right;
	position: relative;
	z-index: 10;
}
table.index tr.heading {
	background-color: var(--SecondaryCanvas);
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}
table.index tr.index {
	background-color: var(--TertiaryCanvas);
}
table.index td {
	padding: 5px 20px;
}

table.index a:link, table.index a:visited {
	font-weight: normal;
	text-decoration: none;
	color: var(--VisitedLinkText)
}
table.index a:hover, table.index a:active {
	text-decoration: underline;
	color: var(--ActiveLinkText);
}


/* Haiku User Guide styles and layout */

/* Rounded corner boxes */
/* Common declarations */
.box-info, .box-stop, .box-warning {
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-style: dotted;
	border-width: thin;
	border-color: #dcdcdc;
	padding: 10px 15px 10px 80px;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 40px;
	margin-right: 40px;
	min-height: 42px;
}
.box-info {
	background: var(--InfoBackground) url(images/alert_info_32.png) 15px 15px no-repeat;
}
.box-warning {
	background: var(--WarningBackground) url(images/alert_warning_32.png) 15px 15px no-repeat;
}
.box-stop {
	background: var(--StopBackground) url(images/alert_stop_32.png) 15px 15px no-repeat;
}

/* More layout and styles */
h1 {
	font-size: 1.3em;
	font-weight: bold;
	color: var(--HeaderText);
	border-bottom: dotted thin #e0e0e0;
	margin-bottom: 25px;
}
h2 {
	font-size: 1.3em;
	font-weight: normal;
	color: var(--HeaderText);
	border-bottom: dotted thin #e0e0e0;
	margin-top: 18px;
}
@media (min-width:768px) {
	h2 {
		margin-top: 35px;
	}
}
h3 {
	font-size: 1.2em;
	font-weight: normal;
	color: var(--HeaderText);
	border-bottom: dotted thin #e0e0e0;
	margin-top: 30px;
}
h4 {
	font-size: 1.1em;
	font-weight: normal;
	color: var(--HeaderText);
	margin-top: 30px;
}
h5 {
	font-size: 1.0em;
	font-weight: normal;
	color: var(--HeaderText);
	margin-top: 30px;
}
p {
	text-align: justify;
}
ol {
	padding-left: 20px;
}
ul {
	padding-left: 14px;
}
li {
	line-height: 1.3;
}
td {
	vertical-align: top;
}
td.onelinetop {
	vertical-align: top;
	white-space: nowrap;
}
tt {
    background-color: var(--SecondaryCanvas);
    font-size: 1.0em;
    font-family: monospace;
}
pre {
	border-color: var(--HeaderText);
	border-style: dotted;
	border-width: thin;
	margin: 0em;
	padding: 1.5em;
	background-color: var(--SecondaryCanvas);
}
pre.terminal {			/* Terminal output*/
	border-color: #ffb11f;
	border-style: dotted;
	border-width: thin;
	margin: 0em;
	padding: 1.5em;
	background-color: #3a3a3a;
	color: #ffb11f;
}
.menu {				/* Menu */
    font-size: 1.0em;
    font-family: serif;
    font-style: italic;
	color: var(--MenuColor);
}
.button {			/* Button */
    font-size: 1.0em;
    font-family: serif;
    font-style: italic;
	color: #33583c;
}
.app {				/* GUI Application name */
    font-size: 1.0em;
    font-family: serif;
    font-style: italic;
	color: #5e1c1c;
}
.cli {				/* Shell command or file */
    background-color: var(--SecondaryCanvas);
    font-size: 0.9em;
    font-family: monospace;
}
.path {				/* File path */
    background-color: var(--SecondaryCanvas);
    font-size: 0.9em;
    font-family: monospace;
}
.key {				/* Shortcut (separate with   */
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: var(--ButtonBorder);
	border-style: solid;
	border-width: 1px;
	padding: 0px 2px 0px 2px;
	background-color: var(--ButtonBackground);
    	font-family: serif;
   	font-variant: small-caps;
  	font-size: 0.8em;
}

/* printer only pretty stuff */
@media /*screen,*/print {
	/* suggest page orientation */
	@page { size: portrait; }
	.noprint {
		display: none;
	}
	/* hide header and nav bar */
	#banner {
		display:none;
	}

	div.nav {
		display:none;
	}

	/* some links we want to print the url along with (CSS2) */
	a.printurl:after {
		content: " &lt;" attr(href) "&gt;";
		font-weight: normal;
		font-size: small;
	}
	/* override for those we really don't want to print */
	a.noprinturl:after {
		content: "";
	}
	/* for acronyms we want their definitions inlined at print time */
	acronym[title]:after {
		font-size: small;
		content: " (" attr(title) ")";
		font-style: italic;
	}
	/* and not have mozilla dotted underline */
	acronym {
		border: none;
	}
	pre.terminal {			/* Terminal output black on white*/
		background-color: #ffffff;
		color: #000000;
	}
	#content {
		margin: 0px;
		padding: 0px;
	}
	html {
		background: #FFF;
	}
}
